<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <style>
            .ab{
            font-size : 20px;
            color: green;
            }
        </style>
        <meta charset="utf-8">
        <title>Covid-Response</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>

<!-- <section class="lesson-link">
    <a href="/html-css/building-forms/">&larr; Return to Learn to Code HTML &amp; CSS Lesson 10, &#8220;<span>Building Forms</span>&#8220;</a>
    <link href="//cloud.typography.com/6623692/607644/css/fonts.css" rel="stylesheet">
    <style type="text/css">.lesson-link{background:#42444e;border-bottom:1px solid #31333a;font:14px/24px "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;padding:10px 30px 9px 30px;}.lesson-link a{color:#9799a7;text-decoration:none;}.lesson-link a:hover span{color:#fff;}</style>
    <script>var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-3738010-2']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();</script>
</section> -->


        <header class="primary-header container group">
            <h1 class="logo">
                <img src="{% static 'logo.jpg' %}" alt="It was logo" height="180">
            <!-- <a href="index.html">Styles <br> Conference</a> -->
            </h1>
            <!-- <h3 class="tagline">August 24&ndash;26th &mdash; Chicago, IL</h3> -->
            <nav class="nav primary-nav" style="padding-top: 110px;">
                <ul>
                    <li><a href="https://www.aarogyasetu.gov.in/" style="text-decoration: none;" target="_blank">Aarogya Setu</a></li>
                    <li><a href="https://www.covid19india.org/" style="text-decoration: none;" target="_blank">Covid Count</a></li>
                    <li><a href="https://www.mohfw.gov.in/covid_vaccination/vaccination/index.html" style="text-decoration: none;" target="_blank">Vaccine Regisration</a></li>
                <!-- <li><a href="code.html">Home</a></li><li><a href=""></a></li><li><a href="schedule.html">Schedule</a></li><li><a href="venue.html">Venue</a></li><li><a href="register.html">Register</a></li> -->
                </ul>
            </nav>
        </header>

        <section class="introduction">
            <div class="lead container">
                <h1>Welcome!</h1>
                <p>Good to see you.</p>
                <p>Our aim is to provide you most suitable advice as per your given health conditions.</p>
            </div>
        </section>

        <section class="row">
            <div class="grid">

                <section class="col-2-3">
                    <h2>Why is there a need to check?</h2>
                    <!-- <h5>$99 per Pass</h5> -->
                    <p style="font-size: 17px;">COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
                        Advices given are standardised from trusted sources only, and thus preventing people from getting trapped in rumours spread by social media.</p>
                    <p style="font-size: 17px;">Other Symptons

                        <li>Aches and Pains</li>
                        <li>Sore throat</li>
                        <li>Diarrhoea</li>
                        <li>Conjunctivitis</li>
                        <li>Headache</li>
                        <li>Loss of taste or smell</li>
                    </p>
                    <p style="font-size: 17px;"> So, here are we providing you the most suitable advice as per your provided health conditions.</p>
                    <h4>How to check?</h4>
                    <ul class="why-attend">
                         <li>Fill out the given form providing the necessary details</li>
                        <li>Click on Submit button</li>
                        <li>Follow the instructions to help save yourselves and others</li> 
                    </ul>
                    <ul class="why-attend">
                        <!-- <li>One full day of workshops and two full days of presentations</li>
                        <li>Hosted at The Chicago Theatre, a historical landmark</li>
                        <li>August in Chicago is simply amazing</li> -->
                    </ul>
                </section><form class="col-1-3" action="#" method="post">
            <fieldset class="register-group">
            <!-- <label>
                Name
                <input type="text" name="name" placeholder="Full name" required>
            </label>
            <label>
                Email
                <input type="email" name="email" placeholder="Email address" required>
            </label>
            <label >
                Contact Number(to get a call from a doctor)
                <input type="tel" name="Contact No." pattern="[0-9]{10}" maxlength="10" placeholder="Contact No." required>
            </label> -->

                     <form action="{% url 'checkup' %}"   method="post">
                 {% csrf_token %}
                Enter your name:<input type="text" name="name" id="name" required>
                Fever:
                <select name="fever" id="fever">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>

                Dry Cough:
                <select name="dry cough" id="dry cough">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>

                Tiredness:
                <select name="tiredness" id="tiredness">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>

                <b>Breathing Problem</b><select name="breathing" id="breathing">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>

                <b>Chest-Pain</b><select name="chest-pain" id="chest-pain">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>

                 How many other symptoms do you have?
                <input type="number" name="other_symptoms" id="headache" required pattern="[0-4]{1}" maxlength="1">
                     Phone number
                <input type="tel" name="phone" id="phone" maxlength="10" pattern="[0-9]{10}" required>
                <input class="btn" type="submit" value="submit">
                 </form>
                {% for message in messages %}
                <div class="ab">Congrats! {{message}}</div>
                <a class="ab" href="https://www.mohfw.gov.in/covid_vaccination/vaccination/index.html">click here to get vaccinated</a>
                {% endfor %}
            <!-- <label>
            Number of Passes
            <select name="quantity" required>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
            </label> -->
            <!-- <label>
            Comments
            <textarea name="comments"></textarea>
            </label>
            </fieldset>
            <input class="btn btn-default" type="submit" name="submit" value="Purchase">-->
                </form>
            </div>
            </div>
        </section>

        <footer class="primary-footer container group">
            <small>&copy; Covid-Response</small>
            <nav class="nav">
                <ul>
                    <!-- <li><a href="index.html">Home</a></li><li><a href="speakers.html">Speakers</a></li><li><a href="schedule.html">Schedule</a></li><li><a href="venue.html">Venue</a></li><li><a href="register.html">Register</a></li> -->
                    <li><a href="https://github.com/Kanishk-Garg4/Frosthack" target="_blank"><i class="fa fa-github fa-5x"></i></a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>